h1{ 
	background: linear-gradient(315deg, rgba(8,137,147,1) 0%, rgba(147,134,8,1) 100%);
 }

 h2{
background: linear-gradient(180deg, rgba(147,8,8,1) 14%, rgba(6,238,127,1) 30%, rgba(213,127,252,1) 48%, rgba(7,13,129,1) 64%, rgba(237,196,57,1) 82%);
 }
 h3{

background: radial-gradient(circle, rgba(7,13,129,1) 21%, rgba(255,224,80,1) 59%, rgba(57,237,60,1) 82%);
 }