h1{ background-color: lightblue;
	border: 5px solid darkblue;
	margin: 50px ;
	padding: 100px;
	text-align: left;
	

}
body{
	background: blue;
}
 
 p{
 	background-color: lightblue;
 	border: 5px dotted darkblue;
 	margin: 50px;
 	padding: 100px;
 	text-align: right;

 }