.a{
	background-color: #aeeb52;
	padding: 30px;
}

.b{
background-color: rgb(16, 117, 53);
padding: 30px;
}

.c{
	background-color: #0aa684;
	padding: 30px;

}

.d{
	background-color: rgb(97, 81, 21);
	padding: 30px;
}

.e{
	background-color: #be74cf;
	padding: 30px;

}

.f{
	background-color: rgb(191, 38, 74);
	padding: 30px;
}

.g{
	background-color: #004f3a;
	padding: 30px;

}

.h{
	background-color: rgb(102, 0, 0);
	padding: 30px;
}
.i{
	background-color: #ffe070;
	padding: 30px;
}
.j{
	background-color: rgb(109, 126, 156);
	padding: 30px;
}