body{
   margin: 0;
}

nav{
	background-image: url(nav-background.jpg);
	background-size: cover;
	background-position: center;
	height: 260px;
	display: flex;
	justify-content: space-between; /* To make space between logo and list */
	align-items: center;
	padding: 30px;
	
	
}
nav img{
	border-radius: 70%;
	height: 170px;
}

nav ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
}

ul li a{
	margin: 20px;
	padding: 20px;
	text-decoration: none; /* Removes the underilne decoration of a link */
	color: white;
	background-color: blue;
	border-radius: 20px;
	text-transform: uppercase; /* Shows the letters with all uppersace */

}

/*hover is used to mak  nice efect if we put the mouse over the link */
ul li a:hover{
	background-color: darkcyan;
	color: yellow;
}

/* Header */
header{
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image:url(background-img.jpg);
	background-size: cover;
	background-position: center;
}
/* How to use a background image */
header h1{
	font-size: 60px;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 30px;
	
	}

article{
	position: relative;
}
article .image {
	height: 200px;
	width: 300px;
	background-position: center;
	background-size: cover;
	padding: 25px;

}

article .text{
	height: 200px;
	width: 300px;
	background-color: white;
	padding: 25px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-direction:column ;

}

article .text footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
	color: darkgrey;
}

article header{
	text-transform: uppercase;
	font-size: 14px;
}
header span{
	margin-right: 8px;
}
article .box{
	background-color: red;
	color:white ;
	text-transform: uppercase;
	font-size: 12px;
	padding: 6px;
	position: absolute;
	left: 0px;
	top: 222px;
}

footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:20px;
	background: linear-gradient(152deg, rgba(0,0,0,1) 0%, rgba(117,31,31,1) 100%);
	height: 150px;
}

footer span{
	background-color: rgba(255, 255, 255, 0.7);
	padding: 30px;
	border-radius:30px ;
}
section{
	
}
