/*Paddingwerte werden zur angegebenen Breite hinzugezahlt.
Somit ergibt sich ein Wert von über 100%. Nav, article und aside erscheinen dadurch nicht nebeneinander.
Box-sizing: border-box.....Größenangaben umfassen das gesamte Element*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-wrap:break-word ;
}
/*Smartphone display*/
nav, header,article,aside{
	width: 100%;
}
header{
	background-color: lightgray;
	padding: 25px;
}
nav{
	background-color: red;
	padding: 25px;
}
article{
	background-color: lightgoldenrodyellow;
	padding: 25px;
}
aside{
	background-color: lightskyblue;
	padding: 25px;
}
ul li{
	list-style-type: none;
}
.container{
	width: 70%;
	margin: auto;/*Ein Bereich wird mittig ausgerichtet*/
}
/*Desktop design
768px:  Trennung zw. Smartphone/Tablet und Desktop*/
@media(min-width: 768px){
nav, aside{
	width: 25%;
	float: left;
}
article{
	width: 50%;
	float: left;
}
}